* {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
}

a {
  font-family: 'Ubuntu', sans-serif;
}

.section-name {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-name::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-name::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

/* ================ navbar========== */

.main-navbar {
  background-color: rgba(40, 58, 90, 0.9);
  padding-left: 12%;
  padding-right: 3%;
  position: sticky;
  top: 0;
}

.nav-item{
  padding: 0 15px;
}

.get-strated {
  color: #fff;
  width: 144px;
  border: 2px solid #47b2e4;
  border-radius: 50px;
  padding: 5px 20px !important;
  text-decoration: none;
  white-space: nowrap;
}

.get-strated:hover {
  background-color: #47b2e4;
  color: #fff;
}

.btn-a{
  display: none;
}

@media (max-width: 992px) {
  .main-navbar{
    padding-left: 0;
    padding-right: 0;
  }
  .btn-b{
    display: none;
  }
  .btn-a{
    display: initial;
  }
}


/* ==================logo ================== */
.logo-img {
  filter: invert(1);
  width: 20%;
}

@media(max-width: 992px) {
  .logo-img {
    width: 20%;
  }

  .logo {
    display: contents;
  }
}

@media (max-width:550px) {
  .logo-img {
    width: 30%;
  }

  .get-strated {
    padding: 5px 10px;
  }
}

/* =====================poster section =============================*/
.poster {
  height: 75vh;
  padding-top: 72px;
  padding-left: 12%;
  background-color: #37517e;
}

.poster-img{
  position: relative;
  animation: up-down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes up-down {
  0%{bottom: 10px}
  50%{bottom: -10px}
  100%{bottom: 10px}
}

.poster h1 {
  font-family: 'Montserrat', sans-serif;
  size: 4rem;
  line-height: 1;
  padding-bottom: 1rem;
}

.poster h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #fff9;
  padding-bottom: 4rem;
}

.poster-heading {
  justify-content: center !important;
  flex-direction: column !important;
  display: flex !important;
}

@media (max-width: 770px) {
  .poster-heading {
    order: 2 !important;
    text-align: center;
    padding-left: 0;
  }

  .poster {
    height: 100vh;
  }
}

/* ===============services section================ */
#services{
  padding: 5% 10%;
  background-color:#f3f5fa;
  text-align: center;
}
#services h1{
  color: #37517e;
}
#services p{
  color: #444444;
}

.services-box{
  color:gray;
  box-shadow: 0px 0 25px 0 #0000001a;
  background-color: #ffff!important;
  text-align: center;
  padding: 5%;
  height: 40vh;
  margin-top: 5%;
  transition: ease-in-out 0.3s;
}

.services-box h3{
  color: #37517e;
  font-family: Montserrat-thin;
}

.services-box:hover {
  transform: translateY(-10px);
}

.services-box:hover h3 a {
  color: #47b2e4;
}
